#intro{
    height: calc(100vh - 5rem);
    width: 100%;
    display: flex;
    justify-content: center;
}

.introContent {
    text-align: center;
    height: 100%;
    width: 80%;
    margin: auto;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.Ola {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 200;
}

.nome {
    text-align: center;
    color: #3ECFD3;
}

.desc{
    text-align: center;
    font-size: medium;
    font-weight: 200;
}

.btn{
    text-align: center;
    background: white;
    padding: 1rem;
    border-radius: 2rem;
    cursor: pointer;
}

@media (max-width: 1300px) {
    #intro{
        width: 100vw;
        margin-left: 3%;
    }
}